<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        block titleDocument
            title Document
        link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,600,700', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
        link(rel='stylesheet', type='text/css', href='assets/css/dist/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='assets/css/dist/slick.css')
        link(rel='stylesheet', type='text/css', href='assets/css/dist/slick-theme.css')
        link(rel='stylesheet', type='text/css', href='assets/css/main.css')
    body
        block contenido