*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
a{
	text-decoration: none !important;
	-webkit-transition: .3s;
    transition: .3s;
    &:hover, &:focus{
    	color: inherit;
    }
}
.fs-15{
	font-size: 15px;
}
.fs-10{
	font-size: 6px;
}
.pr-10{
	padding-right: 10px;
}
.pr-5{
	padding-right: 5px;
}
.mb-10{
	margin-bottom: 10px;
}
.mg-0{
	margin:0;
}
.pt-0{
	padding-top: 0!important;
}
.columnistas .node-columnistas {
    float: left;
    padding: 0 10px;
    text-align: center;
    width: 16.6%;
}
.node-columnistas {
    float: left;
    padding: 0 10px;
    text-align: center;
    width: 16%;
}
.slider{
	width: 90%;
	height: 200px;
	margin:auto;
	padding-top: 10px;

}
.bg-gray-sider{
	background: #f2f2f2;
}

.slick-dots{
	li.slick-active {
		button:before{
			color: #b9c0c6;
			font-size: 50px;
		}
	}
	li{
		button:before{
			color: $color-guindo;
			font-size: 50px;
		}
	}
}
.violeta{
	color: #6c246c;
}
.bg-violeta{
	background:#6c246c; 
}
.border-image{
	border: 2px solid $color-border;
}
.pd-5{
	padding:5px;
}
