*{
	margin: 0px;
	padding: 0px;
}
body{
	@extend .font-robot;
}
a{
	text-decoration: none !important;
	-webkit-transition: .3s;
    transition: .3s;
    &:hover, &:focus{
    	color: inherit;
    }
}
ul{
	list-style: none;
	li{
		display: inline-block;
	}
}
h1, h2, h3, h4, h5, h6{
	@extend .font-monse;
    @extend .upper;
    font-weight: 700;
}
h2{
	font-size: 38px;
}
p{
	color: $text-plomo;
}
.services,
.portfolio,
.about,
.our-amazing-team,
.contact-us{
	padding-top: 120px;
	padding-bottom: 150px;
}
.img-thumbnail {
	border: 1px solid $bg-plomo;
	padding: 6px;
}
.botones{
	@extend .upper;
	@extend .font-monse;
	@include border-radius(4px);
	outline: none;
	color: $white;
	background-color: $mostaza;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 40px;
    text-decoration: none;
    -webkit-transition: .4s;
    		transition: .4s;
    &:hover, &:focus{
    	@include border-radius(14px);
    	color: $white;
    	background-color: $yellow;
    }
}
.italic{
	font-style: italic;
}
p.italic{
	@extend .font-droid;
	font-size: 16px;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 75px;
}
.bg-gray{
	background-color: $bg-plomo;
}

.redes{
	li{
		margin-left: 3px;
		margin-right: 3px;
		a{
			@extend .a-table;
			background-color: #000;
			width: 40px;
			height: 40px;
			-webkit-transition: .3s;
					transition: .3s;
			&:hover{
				@include border-radius(3px);
				color: $white;
			}
			i{
				@extend .i-centered;
				font-size: 20px;
				text-align: center;
			}
		}
	}
}

::selection {
    text-shadow: none;
    background: $mostaza;
}
::-webkit-scrollbar{
  width: 10px;
	&-track-piece{
  		background-color: #333;
	}
	&-button{
  		width: 0px;
  		height: 0px;
	}
	&-thumb{
  		background-color: $mostaza;
	}
}