body{
	font-size:16px;
	font-family:'PT Sans',sans-serif;
}


.bck-gris{
	background-color:$gris;
}
.border-right{
	border-right:2px solid rgba(255,255,255,.8);
}
.cabecera{
	border-bottom:2px solid rgba(0,0,0,.1);
}
.pd-15-20{
	padding:5px 20px;
}
.pdt-15{
	padding-top:15px;
	padding-bottom:15px;
}
.pdl-15{
	padding-left:15px;
}
.pdl-30{
	padding-left:30px;
}
.mgtb-30{
	margin-top:30px;
	margin-bottom:30px;
}
.mgtb-10{
	margin-top:10px;
	margin-bottom:10px;
}
h6{
	margin:0;
}
.w-100{
	width: 100%;
}
