header{
	font-family: 'Open Sans', sans-serif;
	font-size:.9em;
	text-transform:uppercase;
	font-weight:700;
}
//segundo seccion header
.e-nwspaper{
	text-transform:uppercase;
	color:gray;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	font-size:.8em;
	margin-right:10px;
	padding:1px 4px;
	margin:5px 0px;
	&:hover{
		background-color:gray;
		text-decoration:none;
		color:white;
	}
}
.btn-red{
	background-color:$rojo;
	color:white;
	border:1px solid transparent;
	border-radius:5px;
	font-weight:normal;
	margin-right:5px;
	&:hover{
		font-weight: bold;
		background-color:yellow;
		color:$rojo;
	}
}
.social{
	padding:0px 10px;
	font-weight:700;
	font-size:1.2em;
	@extends .e-nwspaper;
	&:hover{
		text-decoration: none;
		text-shadow:2px 0px white;
		background-color:rgba(0,0,0,.1);
		border-radius:100%;
	}
}
.fb{
	color:$azul;
}
.tw{
	color:$celeste;
}
.g-plus{
	color:$rojo;
}
.htm{
	color:$ambar;
}
.rss{
	color:$naranja;
}
.search{
	border-left:2px solid rgba(0,0,0,.1);
	border-right:2px solid rgba(0,0,0,.1);
	background-color:$gris;
	border-top:none;
	border-bottom:none;
	span{
		transform: rotate(90deg);
		padding:0px;
		margin-left:15px;
	}
}
.cuadro-titular{
	text-align:center;
	border:1px solid rgba(0,0,0,.2);
	border-bottom:2px solid $guinda-dark;
	font-size:.9em;
	position:relative;
	width:270px;
	margin:10px auto;
	height:60px;
}
.t-day{
	padding:25px 0px 15px;
	
	&:before{
		content:"domingo";
		position:absolute;
		top:0;
		left:50%;
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 800;
		padding:1px 7px;
		color:white;
		background-color:$guinda-dark;
		transform:translate(-50%,-50%);
	}
}
.t-editorial{
	width:290px;
	padding-top:10px;
	img{
		margin:-28px -15px;
		height: 61px;
		&:first-child{
			margin:-10px -10px;
			height: 58px;
		}
	}
	span{
		padding-top:8px;
	}
}
.logo{
    margin-top: 22px;
    width: 100%;
    max-width: 250px;
}

.e-footer{
	display:block;
}
//navbar
.navbar-header{
	background-color:$rojo;
}

.navbar-default{
	background-color:transparent;
	border-color:transparent;
	margin-bottom:0;
}
.navbar-toggle{
	margin-right:8px;
}
.navbar-default .navbar-collapse{
	background-color:$rojo;
	color:white;
	border-radius: 5px;

	li>a{
		color:white;
		font-size: 12px;
		padding: 8px;
    	position:relative;
    	
    	img{
    		position:absolute;
    		right: -2px;
    		top:0px;
    	}
	}
}
.btn-mas{
	background-color:transparent;
}
.navbar-nav {
	.open {
		.dropdown-menu{
			background-color:$guinda-dark;
		}
	}
}
.publicity{
	height:600px;
	width: 100%;
    max-width: 150px;	
}
.fixed{
	position:fixed;
	top:0;
	left:0;
	background-color:$gris;
	z-index: 100;
	width:100%;
}