include helpers/mixins.jade
extends base/base.jade
block titleDocument
    title Blogs
block contenido
    .container-fluid
        .row
            .col-md-8.col-md-offset-2
                .blog
                    h4 Lo último en blogs
                    img(src="assets/image/double-arrow-bottom.png", alt="double-arrow-bottom")
                    +row-blog
                    +row-blog
                    +row-blog
                    +row-blog
                    +row-blog
                    +row-blog
                    +row-blog