include helpers/mixins.jade
extends base/base.jade
block titleDocument
    title Columnistas
block contenido
     .container-fluid
        .row
            .col-md-8.col-md-offset-2
                .columnistas
                    h4 Lo último en columnistas
                    img(src="assets/image/double-arrow-bottom.png", alt="double-arrow-bottom")
                    +row-1-columnistas
                    +row-2-columnistas
                    +row-1-columnistas
                    +row-2-columnistas
                    button(type="button").text-center.btn.btn-danger.boton-guinda.btn-columnistas Todas las columnas
                    h4 Todos los columnistas
                    img(src="assets/image/double-arrow-bottom.png", alt="double-arrow-bottom")
                    .row
                        .col-xs-12.col-sm-12.col-md-12.col-lg-12
                            nav
                                ul
                                    li: a(href="#") TODOS
                                    li: a(href="#") ABC
                                    li: a(href="#") DEF
                                    li: a(href="#") GHI
                                    li: a(href="#") JKL
                                    li: a(href="#") MNO
                                    li: a(href="#") PQRS
                                    li: a(href="#") TUV
                                    li: a(href="#") WXYZ
                    +row-1-todos-los-columnistas
                    +row-2-todos-los-columnistas
                    +row-1-todos-los-columnistas
                    +row-2-todos-los-columnistas
                    +row-1-todos-los-columnistas
                    +row-2-todos-los-columnistas
                    +row-1-todos-los-columnistas
                    +row-2-todos-los-columnistas
                    +row-1-todos-los-columnistas
                    +row-2-todos-los-columnistas
                    +row-1-todos-los-columnistas
                    +row-2-todos-los-columnistas
                    +row-1-todos-los-columnistas
                    +row-2-todos-los-columnistas