extends ./base/base.jade

block titleDocument
	title Contacto

block contenido
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non expedita eveniet odio recusandae delectus unde earum eaque porro assumenda, asperiores laudantium quam, tenetur vero voluptatem reiciendis nihil quo voluptatum accusantium?
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non expedita eveniet odio recusandae delectus unde earum eaque porro assumenda, asperiores laudantium quam, tenetur vero voluptatem reiciendis nihil quo voluptatum accusantium?
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non expedita eveniet odio recusandae delectus unde earum eaque porro assumenda, asperiores laudantium quam, tenetur vero voluptatem reiciendis nihil quo voluptatum accusantium?
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non expedita eveniet odio recusandae delectus unde earum eaque porro assumenda, asperiores laudantium quam, tenetur vero voluptatem reiciendis nihil quo voluptatum accusantium?
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non expedita eveniet odio recusandae delectus unde earum eaque porro assumenda, asperiores laudantium quam, tenetur vero voluptatem reiciendis nihil quo voluptatum accusantium?
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non expedita eveniet odio recusandae delectus unde earum eaque porro assumenda, asperiores laudantium quam, tenetur vero voluptatem reiciendis nihil quo voluptatum accusantium?

