@mixin border-radius($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
@mixin transition($time){
	-webkit-transition: $time;
	-moz-transition: $time;
	-o-transition: $time;
}