@mixin border-radius($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
@mixin redes{
	.red-sub-title{	
		ul{
			display: inline-block;
			a{
				display:inline-block;
				padding: 2px 5px 0 10px;
				margin:5px ;
				border-radius: 5px;
				background:rgba(128, 128, 128, 0.15);
				span{
					width: 15px;
					height:15px;
					font-size: 15px;
				}
			}
			a:first-child{
					span{
						color:blue;
					}
					-webkit-box-shadow: 0px 3px 0px 0px rgba(8, 40, 197, 0.75);
					-moz-box-shadow: 0px 3px 0px 0px rgba(8, 40, 197, 0.75);
					box-shadow: 0px 3px 0px 0px rgba(8, 40, 197, 0.75);
			}
			a:nth-child(2){
				-webkit-box-shadow: 0px 3px 0px 0px rgba(85, 172, 238, 0.75);
				-moz-box-shadow: 0px 3px 0px 0px rgba(85, 172, 238, 0.75);
				box-shadow: 0px 3px 0px 0px rgba(85, 172, 238, 0.75);
				span{
					color: #55acee;
				}
			}
			a:nth-child(3){
				-webkit-box-shadow: 0px 3px 0px 0px rgba(255, 1, 1, 0.95);
				-moz-box-shadow: 0px 3px 0px 0px rgba(255, 1, 1, 0.95);
				box-shadow: 0px 3px 0px 0px rgba(255, 1, 1, 0.95);
				span{
					color: red;
				}
			}
			span{
				font-size: 11px;
				color:#687888;
			}
			.fa-circle{
				font-size: 5px;
	 		}
		}
	}
}
.slider{
	.node{
		img{
			border:5px solid white;
		}
	}
}