//GENERAL
$gris:#F4F5F7;
$rojo:#DB4949;
$naranja:#FE8309;
$ambar:#FFBF00;
$celeste:#4BB7D9;
$azul:#316AA4;
$black-light:#f1f1f1;
$guinda-dark:#941010;
//BLOG
$blog-subtitle2: #667885;
$black-light: #1F1F1F;
$box-border: #e2e2e2;
$box-gray-bg: #E2E6E9;
$hero-title-blue: #768596;
$guinda: #BA1414;
$guinda2: #811101;
$guinda-focus: #C11A01;
$guinda-bg: #C61A01;
$rojo-colum: #d90000;