@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
$font-oswald:'Oswald';
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
$font-monstserrat:'Montserrat';

*{
	font-family: 'Oswald';
	font-size: 15px;
}
$color-guindo:#aa1801;
$color-gray-title:#768596;
$color-border:#8b99a7;
